<form (ngSubmit)="onSubmit()" [formGroup]="claim" class="p-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="insured-card-number">Insured Card Number:</label>
        <input
          type="text"
          class="form-control"
          id="insured-card-number"
          formControlName="insured_card_number"
        />
      </div>
      <div class="form-group">
        <label for="insured-name">Insured Name:</label>
        <input
          type="text"
          class="form-control"
          id="insured-name"
          formControlName="insured_name"
        />
      </div>
      <div class="form-group">
        <label for="dob">DOB:</label>
        <input
          type="date"
          class="form-control"
          id="dob"
          formControlName="dob"
        />
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" formControlName="gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hospital">Hospital:</label>
        <input
          type="text"
          class="form-control"
          id="hospital"
          formControlName="hospital"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="admission-date">Admission Date:</label>
        <input
          type="date"
          class="form-control"
          id="admission-date"
          formControlName="admission_date"
        />
      </div>
      <div class="form-group">
        <label for="medical-case">Medical Case:</label>
        <textarea
          class="form-control"
          id="medical-case"
          formControlName="medical_case"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="estimated-cost">Estimated Cost (USD):</label>
        <input
          type="number"
          class="form-control"
          id="estimated-cost"
          formControlName="estimated_cost"
        />
      </div>

      <div class="form-group">
        <label for="treating-physician">Treating Physician:</label>
        <select
          class="form-control"
          id="treating-physician"
          formControlName="treating_physician"
        >
          <option value="Dr. Smith">Dr. Smith</option>
          <option value="Dr. Johnson">Dr. Johnson</option>
          <option value="Dr. Patel">Dr. Patel</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Rejected"
            value="Rejected"
            formControlName="status"
          />
          <label class="form-check-label" for="status-Rejected">
            Rejected
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Approved"
            value="Approved"
            formControlName="status"
          />
          <label class="form-check-label" for="status-Approved">
            Approved
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Pending"
            value="Pending"
            formControlName="status"
          />
          <label class="form-check-label" for="status-Pending"> Pending </label>
        </div>
        <div class="form-group">
          <label for="remarks">remarks:</label>
          <textarea
            formControlName="remarks"
            class="form-control"
            id="remarks"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <button type="submit" class="btn btn-primary">
      Submit
      <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </button>
  </div>
</form>
