<form (ngSubmit)="onSubmit()" [formGroup]="claim" class="p-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="insured-card-number">Insured Card Number:</label>
        <input
          type="text"
          class="form-control"
          id="insured-card-number"
          formControlName="insured_card_number"
        />
        <div
          *ngIf="
            claim.controls['insured_card_number']?.invalid &&
            (claim.controls['insured_card_number']?.dirty ||
              claim.controls['insured_card_number']?.touched)
          "
        >
          <p
            *ngIf="claim.controls['insured_card_number']?.errors?.['required'] || claim.controls['insured_card_number']?.errors?.['pattern']"
          >
            <span
              *ngIf="claim.controls['insured_card_number']?.errors?.['pattern']"
              >insured_card_number should be 15 characters and 1 digit</span
            >
            <span
              *ngIf="claim.controls['insured_card_number']?.errors?.['required']"
              >insured_card_number is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="insured-name">Insured Name:</label>
        <input
          type="text"
          class="form-control"
          id="insured-name"
          formControlName="insured_name"
        />
        <div
          *ngIf="
            claim.controls['insured_name']?.invalid &&
            (claim.controls['insured_name']?.dirty ||
              claim.controls['insured_name']?.touched)
          "
        >
          <p *ngIf="claim.controls['insured_name']?.errors?.['required']">
            <span *ngIf="claim.controls['insured_name']?.errors?.['required']"
              >insured_name is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="dob">DOB:</label>
        <input
          type="date"
          class="form-control"
          id="dob"
          formControlName="dob"
        />
        <div
          *ngIf="
            claim.controls['dob']?.invalid &&
            (claim.controls['dob']?.dirty || claim.controls['dob']?.touched)
          "
        >
          <p *ngIf="claim.controls['dob']?.errors?.['required']">
            <span *ngIf="claim.controls['dob']?.errors?.['required']"
              >date of birth is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" formControlName="gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hospital">Hospital:</label>
        <input
          type="text"
          class="form-control"
          id="hospital"
          formControlName="hospital"
          required
        />
        <div
          *ngIf="
            claim.controls['hospital']?.invalid &&
            (claim.controls['hospital']?.dirty ||
              claim.controls['hospital']?.touched)
          "
        >
          <p *ngIf="claim.controls['hospital']?.errors?.['required']">
            <span *ngIf="claim.controls['hospital']?.errors?.['required']"
              >hospital name is required</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="admission-date">Admission Date:</label>
        <input
          type="date"
          class="form-control"
          id="admission-date"
          required
          formControlName="admission_date"
        />
        <div
          *ngIf="
            claim.controls['admission_date']?.invalid &&
            (claim.controls['admission_date']?.dirty ||
              claim.controls['admission_date']?.touched)
          "
        >
          <p *ngIf="claim.controls['admission_date']?.errors?.['required']">
            <span *ngIf="claim.controls['admission_date']?.errors?.['required']"
              >admission_date is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="medical-case">Medical Case:</label>
        <textarea
          class="form-control"
          id="medical-case"
          formControlName="medical_case"
        ></textarea>
        <div
          *ngIf="
            claim.controls['medica_case']?.invalid &&
            (claim.controls['medica_case']?.dirty ||
              claim.controls['medica_case']?.touched)
          "
        >
          <p *ngIf="claim.controls['medica_case']?.errors?.['required']">
            <span *ngIf="claim.controls['medica_case']?.errors?.['required']"
              >medica_case is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="estimated-cost">Estimated Cost (USD):</label>
        <input
          type="number"
          class="form-control"
          required
          id="estimated-cost"
          formControlName="estimated_cost"
        />
        <div
          *ngIf="
            claim.controls['estimated_cost']?.invalid &&
            (claim.controls['estimated_cost']?.dirty ||
              claim.controls['estimated_cost']?.touched)
          "
        >
          <p *ngIf="claim.controls['estimated_cost']?.errors?.['required']">
            <span *ngIf="claim.controls['estimated_cost']?.errors?.['required']"
              >estimated_cost is required</span
            >
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="treating-physician">Treating Physician:</label>
        <select
          class="form-control"
          required
          id="treating-physician"
          formControlName="treating_physician"
        >
          <option value="Dr. Smith">Dr. Smith</option>
          <option value="Dr. Johnson">Dr. Johnson</option>
          <option value="Dr. Patel">Dr. Patel</option>
        </select>
        <div
          *ngIf="
            claim.controls['treating_physician']?.invalid &&
            (claim.controls['treating_physician']?.dirty ||
              claim.controls['treating_physician']?.touched)
          "
        >
          <p *ngIf="claim.controls['treating_physician']?.errors?.['required']">
            <span
              *ngIf="claim.controls['treating_physician']?.errors?.['required']"
              >treating_physician is required</span
            >
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Rejected"
            value="Rejected"
            formControlName="status"
          />

          <label class="form-check-label" for="status-Rejected">
            Rejected
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Approved"
            value="Approved"
            formControlName="status"
          />

          <label class="form-check-label" for="status-Approved">
            Approved
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="status-Pending"
            value="Pending"
            formControlName="status"
          />
          <label class="form-check-label" for="status-Pending"> Pending </label>
          <div
            *ngIf="
              claim.controls['status']?.invalid &&
              (claim.controls['status']?.dirty ||
                claim.controls['status']?.touched)
            "
          >
            <p *ngIf="claim.controls['status']?.errors?.['required']">
              <span *ngIf="claim.controls['status']?.errors?.['required']"
                >status is required</span
              >
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="remarks">remarks:</label>
          <textarea
            formControlName="remarks"
            class="form-control"
            id="remarks"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-5">
    <button type="submit" class="btn btn-primary">
      Submit
      <div *ngIf="loading" class="spinner-border" role="status">
        <span  class="sr-only"></span>
      </div>
    </button>
  </div>
</form>
